@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');


*{
    margin: 0;
    padding: 0;
    color: white;
}

body{
    margin-top: 60px;
}

.content{
    /* position: relative; */
    background-color: #1E1E1E;
}



.nav-container{
    color: white;
    background-color: #1e1e1e;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    font-family: 'Quattrocento', serif;
    font-family: 'Ruda', sans-serif;
    width: 100%;
}

.nav-item{
    display: flex;
    flex-flow: row  wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.nav-item-icons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.main-cover{
    background-image: url(./Images/Main_BG.png);
    height: 92vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
}

.main-cover-content{
    color: white;
    position: absolute;
    top: 100px;
    width: 820px;
    left: 40px;
}

.heading{
    font-size: 101px;
    font-weight: 700;
    text-align: center;
    line-height: 108.5px;
    font-family: 'Quattrocento';
    
    padding: 40px 0;
}

/* .horizontal-line{
    background-color: #f24c4c;
    height: 13px;
    width: 586px;
    margin: 50px 0;
} */

.main-passage{
    width: 599px;
    height: 325px;
    line-height: 40px;
    font-size: 25px;
    letter-spacing: 0.09rem;
    font-weight: 400;
    padding: 40px 0;
    text-align: justify;
    border-top: #f24c4c solid 13px;
    margin: 0;
    position: absolute;
    left: 108px;
    font-family: 'Quattrocento', serif;
    font-family: 'Ruda', sans-serif;
}

.main-content{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 80px 150px;
}

h2{
    text-align: center;
    font-size: 60px;
    font-family: 'Quattrocento';
    font-weight: 400;
    padding: 20px;
    border-bottom: #f24c4c solid 10px;
    justify-content: center;
    align-items: center;
    width: auto;
}

p{
    font-family: 'Quattrocento', serif;
    font-family: 'Ruda', sans-serif;
    line-height: 40px;
    font-size: 25px;
    letter-spacing: 0.09rem;
    font-weight: 400;
    width: auto;
}

.about-container{
    display: grid;
    grid-template-columns: repeat(2, auto);
    
}

.grid-food{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(3,auto);
}

.food-items{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    padding: 20px;
}

.food-items-description > h4{
    font-family: 'Quattrocento', serif;
    font-family: 'Ruda', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 0px;
    color: #F2C94C;
    margin-top: 20px;
    font-size: 28px;
}

.food-items-description > p{
    font-family: 'Quattrocento', serif;
    font-family: 'Ruda', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    margin-top: 20px;
}

.food-items > img{
    border-radius: 5px;
}

.main-content h2{
    margin-top: 50px;
}

.find-us-container{
    display: flex;
    flex-flow: column wrap;
    width: auto;
}

.find-us-text{
    width: auto; 
}

.find-options{
    width: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.google-maps{
    width: auto;
}

.google-maps img{
    width: 600px;
    padding: 10px;
}

.find-us-total{
    display: grid;
    grid-template-columns: repeat(2,auto);
    margin-top: 20px;
}


footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 150px;
    margin-top: 300px;
    padding-bottom: 50px;

}



.footer-icons{
    display: flex;
    flex-flow: row wrap;
}

.footer-icons img{
    width: 54px;
    padding: 0 20px;
}





